{% extends "encyclopedia/layout.html" %}

{% block title %}
    Edit wiki
{% endblock %}

{% block body %}
    <h1>Edit Wiki Entry</h1>

    <!-- edit form. Can not edit title. -->
    <form action="{% url 'edit' title=title %}" method="POST">
        {% csrf_token %}
        {% for field in edit %}
        <div class="form-group col-auto">
            {{ field }}
        </div>
        {% endfor %}
        <div class="col-auto">
            <button type="submit" class="btn btn-warning">Update Page</button>
        </div>
    </form>

{% endblock %}
