{% extends "encyclopedia/layout.html" %}

{% block title %}
    Create New Entry
{% endblock %}

{% block body %}
    <h1>New Wiki Entry</h1>

    <!-- new entry form -->
    <form action="{% url 'new' %}" method="POST">
        {% csrf_token %}
        {% for field in create %}
        <div class="form-group col-auto">
            {{ field.label_tag }}
            {{ field }}
        </div>
        {% endfor %}
        <div class="col-auto">
            <button type="submit" class="btn btn-warning">Create Page</button>
        </div>

    </form>

{% endblock %}
